extends layout

block content
  h1= title
  h2= Welcome

  ul
    each val in properties
      li= val.dataValues.Name + ' '
      li= val.dataValues.description + ' '
      li= val.dataValues.price + ' '
      br
